<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AJuDE - Ordenaçao</title>

    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/ordenacao.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0049b2d0c0.js"></script>

    <script src="../js/login.js"></script>
    <script src="../js/usuario.js"></script>
    <script src="../js/ordenacao.js"></script>

    <script>
        if (localStorage.getItem("token") == null || localStorage.getItem("token") == "") {
            alert("Token nao localizado ou expirado. Faça login para continuar.")
            window.location.href = "";
        }
    </script>
</head>

<body>
    <header class="header">

        <a href="" class="logo">
            <span class="tower3"></span>
            <span class="letter">AJuDE</span>
            <span class="tower3"></span>
        </a>

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <ul id="menu" class="menu">
            <li></li>
            <li><button class="btn-quaternary" onclick="window.location.href='/ordenacao.html'">Ordenaçao</button></li>
            <li><button class="btn-quaternary" onclick="window.location.href=''">Home</button></li>
            <li id="btn-login" class=""><button class="btn-quaternary"
                    onclick="document.getElementById('id01').style.display='block'" data-toggle="pill">Login</button>
            </li>
            <li id="btn-register" class=""><button class="btn-primary"
                    onclick="document.getElementById('id02').style.display='block'" data-toggle="pill">Cadastro</button>
            </li>
            <li id="btn-logout"><button class="btn-primary" onclick="logout();" data-toggle="pill">Sair</button>
            </li>
            <li id="btn-cadastroCampanha"><button class="btn-primary" onclick="document.getElementById('id03').style.display='block'" data-toggle="pill">Cadastrar ampanha</button>
            </li>

        </ul>

    </header>

    <main>
        <div class="ordenaMain">
            <div id="ordemId" class="ordemProfile"></div>
        </div>

    </main>

    <footer class="center-footer">
        <div class="sub-footer">
            <div class="text-footer">
                <span class="">
                    Copyright © 2019 AJuDE, developed by Klaywert D. and Mathias A. at Federal University of Campina Grande. All rights reserved.
                </span>
            </div>
        </div>
    </footer>

    <script>
        function hideButtons() {
            var login = document.getElementById("btn-login")
            var register = document.getElementById("btn-register")
            var logout = document.getElementById("btn-logout")
            var cadastroCampanha = document.getElementById("btn-cadastroCampanha")

            if (localStorage.getItem("token") != null) {
                login.style.display = "none"
                register.style.display = "none"
                logout.style.display = "block"
                cadastroCampanha.style.display = "block"
            } else {
                login.style.display = "block"
                register.style.display = "block"
                logout.style.display = "none"
                cadastroCampanha.style.display = "none"
            }
        }
        hideButtons();
    </script>

</body>

</html>
